In [367]:
import pandas as pd
import numpy as np

def parse_parking_sheet(sheet_df):
    """
    Parse parking lot data into one row per date.
    Each block = 10 rows (or fewer if month ends early).
    Skips internal header rows inside the blocks.
    Ensures LOT 6 exists (set to -1 if missing).
    """
    rows = []
    n = len(sheet_df)
    i = 0
    first_month = None

    while i < n:
        block = sheet_df.iloc[i:i+10]
        if block.isna().all().all():
            i += 1
            continue

        # Row 0: Day and Date
        dummy_day = block.iloc[0, 0]
        date = block.iloc[0, 1]

        # Skip internal headers
        if isinstance(date, str) and "Number of Spaces" in date:
            i += 10
            continue

        # Parse date
        date = pd.to_datetime(date, errors='coerce')
        day = date.strftime("%A") if pd.notna(date) else None

        # Stop parsing if month changes
        if first_month is None and pd.notna(date):
            first_month = date.month
        elif pd.notna(date) and date.month != first_month:
            break

        entry = {"Day": day, "Date": date}

        # Rows 1-6 (or fewer) for LOTs
        for j in range(1, min(7, len(block))):
            lot_row = block.iloc[j]
            if pd.isna(lot_row[0]):
                continue
            lot_name = str(lot_row[0]).strip()

            spaces = pd.to_numeric(lot_row[2], errors="coerce") or 0
            vacancies = pd.to_numeric(lot_row[3], errors="coerce") or 0
            occupied = pd.to_numeric(lot_row[4], errors="coerce") or 0

            pct = lot_row[5]
            if isinstance(pct, str) and "%" in pct:
                pct = float(pct.replace("%", "").strip()) / 100
            pct = pd.to_numeric(pct, errors="coerce") or 0

            entry[f"{lot_name} Spaces"] = spaces
            entry[f"{lot_name} Vacancies"] = vacancies
            entry[f"{lot_name} Occupied"] = occupied
            entry[f"{lot_name} % Capacity"] = pct

        # Ensure LOT 6 exists
        if "LOT 6 Spaces" not in entry:
            entry["LOT 6 Spaces"] = -1
            entry["LOT 6 Vacancies"] = -1
            entry["LOT 6 Occupied"] = -1
            entry["LOT 6 % Capacity"] = -1

        # Totals (C/C and Cash) safely
        total_cc = 0
        total_cash = 0
        for j in range(1, min(7, len(block))):
            row = block.iloc[j]
            row_text = str(row[6]) if len(row) > 6 else ""
            value = pd.to_numeric(row[7], errors='coerce') if len(row) > 7 else 0
            value = value if not pd.isna(value) else 0

            if "C/C" in row_text:
                total_cc = value
            elif "Cash" in row_text:
                total_cash = value

        entry["Total CC Revenue"] = total_cc
        entry["Total Cash Revenue"] = total_cash
        entry["Total Revenue"] = total_cc + total_cash

        rows.append(entry)
        i += 10  # move to next block

    df = pd.DataFrame(rows)
    df.fillna(0, inplace=True)
    print("week added!" if rows else "⚠️ No rows parsed")
    return df


# ---------- READ AND COMBINE SECTION ----------
file_path = "CEOData/ONT Lot Counts 2020-2023/2020/PCI ONT Daily Lot Counts August 2020.xlsx"
#file_path = "CEOData/ONT Lot Counts 2020-2023/2020/PCI ONT Daily Lot Counts MAY 2020.xlsx"

try:
    all_sheets = pd.read_excel(file_path, sheet_name=None, header=None)
    print(f"✅ Loaded {len(all_sheets)} sheets.")

    # Only skip sheets literally named 'Summary' (case-insensitive)
    sheet_names = [name for name in all_sheets.keys() if str(name).lower() != "summary"]
    print("Sheets included:", sheet_names)

    b_df = pd.concat(all_sheets.values(), ignore_index=True)
    
    all_data = [parse_parking_sheet(all_sheets[name]) for name in sheet_names]
    combined_df = pd.concat(all_data, ignore_index=True)

    print("\n✅ Combined DataFrame created successfully!")
    print("Shape:", combined_df.shape)

except Exception as e:
    print("❌ Failed to read Excel file:")
    print(e)

✅ Loaded 6 sheets.
Sheets included: ['1-7', '8-14', '15-21', '22-28', '29 to end of the month']
week added!
week added!
week added!
week added!
week added!

✅ Combined DataFrame created successfully!
Shape: (31, 33)

In [402]:
import pandas as pd
import glob
import os

# Base folder where all yearly folders are
base_folder = "CEOData/ONT Lot Counts 2020-2023"

all_combined_data = []

for year in range(2020, 2024):  # 2020, 2021, 2022, 2023
    year_folder = os.path.join(base_folder, str(year))
    
    # Find all Excel files in that year's folder
    excel_files = glob.glob(os.path.join(year_folder, "*.xlsx"))
    
    print(f"✅ Found {len(excel_files)} files in {year_folder}")
    
    for file_path in excel_files:
        try:
            # Read all sheets without headers
            all_sheets = pd.read_excel(file_path, sheet_name=None, header=None)
            
            # Exclude last sheet if it's a summary
            sheet_names = list(all_sheets.keys())[:-1]
            
            # Parse each sheet
            for name in sheet_names:
                df = parse_parking_sheet(all_sheets[name])
                all_combined_data.append(df)
            
            print(f"Processed file: {file_path}")
            
        except Exception as e:
            print(f"❌ Failed to process {file_path}: {e}")

# Combine everything into one big DataFrame
combined_df = pd.concat(all_combined_data, ignore_index=True)
combined_df['Date'] = pd.to_datetime(combined_df['Date'], errors='coerce')
combined_df = combined_df.sort_values('Date').reset_index(drop=True)

print("\n✅ All years combined successfully!")
print(combined_df.head())
print("Shape:", combined_df.shape)

✅ Found 8 files in CEOData/ONT Lot Counts 2020-2023\2020
week added!
week added!
week added!
week added!
week added!
Processed file: CEOData/ONT Lot Counts 2020-2023\2020\PCI ONT Daily Lot Counts August 2020.xlsx
week added!
week added!
week added!
week added!
week added!
Processed file: CEOData/ONT Lot Counts 2020-2023\2020\PCI ONT Daily Lot Counts December 2020.xlsx
week added!
week added!
week added!
week added!
week added!
Processed file: CEOData/ONT Lot Counts 2020-2023\2020\PCI ONT Daily Lot Counts JULY 2020.xlsx
week added!
week added!
week added!
week added!
week added!
Processed file: CEOData/ONT Lot Counts 2020-2023\2020\PCI ONT Daily Lot Counts JUNE 2020.xlsx
week added!
week added!
week added!
week added!
Processed file: CEOData/ONT Lot Counts 2020-2023\2020\PCI ONT Daily Lot Counts MAY 2020.xlsx
week added!
week added!
week added!
week added!
week added!
Processed file: CEOData/ONT Lot Counts 2020-2023\2020\PCI ONT Daily Lot Counts November 2020.xlsx

C:\Users\benja\AppData\Local\Temp\ipykernel_43392\3074141476.py:93: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '0' has dtype incompatible with datetime64[ns], please explicitly cast to a compatible dtype first.
  df.fillna(0, inplace=True)

week added!
week added!
week added!
week added!
week added!
Processed file: CEOData/ONT Lot Counts 2020-2023\2020\PCI ONT Daily Lot Counts October 2020.xlsx
week added!
week added!
week added!
week added!
week added!
Processed file: CEOData/ONT Lot Counts 2020-2023\2020\PCI ONT Daily Lot Counts September 2020.xlsx
✅ Found 12 files in CEOData/ONT Lot Counts 2020-2023\2021

C:\Users\benja\AppData\Local\Temp\ipykernel_43392\3074141476.py:93: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '0' has dtype incompatible with datetime64[ns], please explicitly cast to a compatible dtype first.
  df.fillna(0, inplace=True)

week added!
week added!
week added!
week added!
week added!
Processed file: CEOData/ONT Lot Counts 2020-2023\2021\PCI ONT Daily Lot Counts April 2021.xlsx
week added!
week added!
week added!
week added!
week added!
Processed file: CEOData/ONT Lot Counts 2020-2023\2021\PCI ONT Daily Lot Counts August 2021.xlsx
week added!
week added!
week added!
week added!
week added!
Processed file: CEOData/ONT Lot Counts 2020-2023\2021\PCI ONT Daily Lot Counts December 2021.xlsx
week added!
week added!
week added!
week added!
week added!
Processed file: CEOData/ONT Lot Counts 2020-2023\2021\PCI ONT Daily Lot Counts February 2021.xlsx
week added!
week added!
week added!
week added!
week added!
Processed file: CEOData/ONT Lot Counts 2020-2023\2021\PCI ONT Daily Lot Counts January 2021.xlsx
week added!
week added!
week added!
week added!
week added!
Processed file: CEOData/ONT Lot Counts 2020-2023\2021\PCI ONT Daily Lot Counts July 2021.xlsx
week added!
week added!
week added!
week added!
week added!
Processed file: CEOData/ONT Lot Counts 2020-2023\2021\PCI ONT Daily Lot Counts June 2021.xlsx
week added!
week added!
week added!
week added!
week added!
Processed file: CEOData/ONT Lot Counts 2020-2023\2021\PCI ONT Daily Lot Counts March 2021.xlsx
week added!
week added!
week added!
week added!
week added!
Processed file: CEOData/ONT Lot Counts 2020-2023\2021\PCI ONT Daily Lot Counts May 2021.xlsx
week added!
week added!
week added!
week added!
week added!
Processed file: CEOData/ONT Lot Counts 2020-2023\2021\PCI ONT Daily Lot Counts November 2021.xlsx
week added!
week added!
week added!
week added!
week added!
Processed file: CEOData/ONT Lot Counts 2020-2023\2021\PCI ONT Daily Lot Counts October 2021.xlsx
week added!
week added!
week added!
week added!
week added!
Processed file: CEOData/ONT Lot Counts 2020-2023\2021\PCI ONT Daily Lot Counts September 2021.xlsx
✅ Found 12 files in CEOData/ONT Lot Counts 2020-2023\2022

C:\Users\benja\AppData\Local\Temp\ipykernel_43392\3074141476.py:93: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '0' has dtype incompatible with datetime64[ns], please explicitly cast to a compatible dtype first.
  df.fillna(0, inplace=True)

week added!
week added!
week added!
week added!
week added!
Processed file: CEOData/ONT Lot Counts 2020-2023\2022\1) PCI ONT Daily Lot Counts January 2022.xlsx
week added!
week added!
week added!
week added!
week added!
Processed file: CEOData/ONT Lot Counts 2020-2023\2022\10) PCI ONT Daily Lot Counts October 2022.xlsx
week added!
week added!
week added!
week added!
week added!
Processed file: CEOData/ONT Lot Counts 2020-2023\2022\11) PCI ONT Daily Lot Counts November 2022.xlsx
week added!
week added!
week added!
week added!
week added!
Processed file: CEOData/ONT Lot Counts 2020-2023\2022\12) PCI ONT Daily Lot Counts December 2022.xlsx
week added!
week added!
week added!
week added!
week added!
Processed file: CEOData/ONT Lot Counts 2020-2023\2022\2) PCI ONT Daily Lot Counts February 2022.xlsx
week added!
week added!
week added!
week added!
week added!
Processed file: CEOData/ONT Lot Counts 2020-2023\2022\3) PCI ONT Daily Lot Counts March 2022.xlsx
week added!
week added!
week added!
week added!
week added!
Processed file: CEOData/ONT Lot Counts 2020-2023\2022\4) PCI ONT Daily Lot Counts April 2022.xlsx
week added!
week added!
week added!
week added!
week added!
Processed file: CEOData/ONT Lot Counts 2020-2023\2022\5) PCI ONT Daily Lot Counts May 2022.xlsx
week added!
week added!
week added!
week added!
week added!
Processed file: CEOData/ONT Lot Counts 2020-2023\2022\6) PCI ONT Daily Lot Counts June 2022.xlsx
week added!
week added!
week added!
week added!
week added!
Processed file: CEOData/ONT Lot Counts 2020-2023\2022\7) PCI ONT Daily Lot Counts July 2022.xlsx
week added!
week added!
week added!
week added!
week added!
Processed file: CEOData/ONT Lot Counts 2020-2023\2022\8) PCI ONT Daily Lot Counts August 2022.xlsx
week added!
week added!
week added!
week added!
week added!
Processed file: CEOData/ONT Lot Counts 2020-2023\2022\9) PCI ONT Daily Lot Counts September 2022.xlsx
✅ Found 3 files in CEOData/ONT Lot Counts 2020-2023\2023
week added!
week added!
week added!
week added!
week added!
Processed file: CEOData/ONT Lot Counts 2020-2023\2023\1) PCI ONT Daily Lot Counts January 2023.xlsx
week added!
week added!
week added!
week added!
week added!
Processed file: CEOData/ONT Lot Counts 2020-2023\2023\2) PCI ONT Daily Lot Counts February 2023.xlsx
week added!
week added!
week added!
week added!
week added!
Processed file: CEOData/ONT Lot Counts 2020-2023\2023\3) PCI ONT Daily Lot Counts March 2023.xlsx

✅ All years combined successfully!
  Day       Date  LOT 2 General Spaces  LOT 2 General Vacancies  \
0   0 1970-01-01                  1219                     1219
1   0 1970-01-01                  1219                     1219
2   0 1970-01-01                  1219                     1219
3   0 1970-01-01                  1219                     1219
4   0 1970-01-01                  1219                     1219

   LOT 2 General Occupied  LOT 2 General % Capacity  LOT 2 Premium Spaces  \
0                     0.0                       0.0                   324
1                     0.0                       0.0                   324
2                     0.0                       0.0                   324
3                     0.0                       0.0                   324
4                     0.0                       0.0                   324

   LOT 2 Premium Vacancies  LOT 2 Premium Occupied  LOT 2 Premium % Capacity  \
0                      324                     0.0                       0.0
1                      324                     0.0                       0.0
2                      324                     0.0                       0.0
3                      324                     0.0                       0.0
4                      324                     0.0                       0.0

   ...  LOT 5 Vacancies  LOT 5 Occupied  LOT 5 % Capacity  LOT 6 Spaces  \
0  ...           2200.0             0.0               0.0            -1
1  ...              0.0             0.0               0.0            -1
2  ...              0.0             0.0               0.0            -1
3  ...           2200.0             0.0               0.0            -1
4  ...              0.0             0.0               0.0            -1

   LOT 6 Vacancies  LOT 6 Occupied  LOT 6 % Capacity  Total CC Revenue  \
0               -1              -1                -1               0.0
1               -1              -1                -1               0.0
2               -1              -1                -1               0.0
3               -1              -1                -1               0.0
4               -1              -1                -1               0.0

   Total Cash Revenue  Total Revenue
0                 0.0            0.0
1                 0.0            0.0
2                 0.0            0.0
3                 0.0            0.0
4                 0.0            0.0

[5 rows x 33 columns]
Shape: (1089, 33)

In [448]:
# Ensure 'Date' is datetime
combined_df['Date'] = pd.to_datetime(combined_df['Date'], errors='coerce')

# Filter rows in March
march_rows = combined_df[combined_df['Date'].dt.month == 3]

# Find all duplicate dates in March (keep all duplicates)
duplicate_dates = march_rows['Date'][march_rows['Date'].duplicated(keep=False)]

# Get full rows for those duplicates
march_duplicates_df = combined_df[combined_df['Date'].isin(duplicate_dates)]

# Keep original index as a column
march_duplicates_df = march_duplicates_df.reset_index().rename(columns={'index': 'OriginalRow'})

# Display
march_duplicates_df

,OriginalRow,Day,Date,LOT 2 General Spaces,LOT 2 General Vacancies,LOT 2 General Occupied,LOT 2 General % Capacity,LOT 2 Premium Spaces,LOT 2 Premium Vacancies,LOT 2 Premium Occupied,...,LOT 5 Vacancies,LOT 5 Occupied,LOT 5 % Capacity,LOT 6 Spaces,LOT 6 Vacancies,LOT 6 Occupied,LOT 6 % Capacity,Total CC Revenue,Total Cash Revenue,Total Revenue
0,307,Monday,2021-03-01,1219,839,380.0,0.311731,324,220,104.0,...,2200.0,0.0,0.000000,-1,-1,-1,-1,36373.0,3772.0,40145.0
1,308,Monday,2021-03-01,1219,1219,0.0,0.000000,324,324,0.0,...,2200.0,0.0,0.000000,-1,-1,-1,-1,0.0,0.0,0.0
2,309,Tuesday,2021-03-02,1219,1219,0.0,0.000000,324,324,0.0,...,2200.0,0.0,0.000000,-1,-1,-1,-1,0.0,0.0,0.0
3,310,Tuesday,2021-03-02,1219,979,240.0,0.196883,324,289,35.0,...,2200.0,0.0,0.000000,-1,-1,-1,-1,8753.0,1190.0,9943.0
4,311,Wednesday,2021-03-03,1219,1219,0.0,0.000000,324,324,0.0,...,2200.0,0.0,0.000000,-1,-1,-1,-1,0.0,0.0,0.0
5,312,Wednesday,2021-03-03,1219,1009,210.0,0.172272,324,288,36.0,...,2200.0,0.0,0.000000,-1,-1,-1,-1,19509.0,1561.0,21070.0
6,313,Thursday,2021-03-04,1219,1219,0.0,0.000000,324,324,0.0,...,2200.0,0.0,0.000000,-1,-1,-1,-1,0.0,0.0,0.0
7,314,Thursday,2021-03-04,1219,1219,0.0,0.000000,324,324,0.0,...,2200.0,0.0,0.000000,-1,-1,-1,-1,26948.0,1773.0,28721.0
8,315,Friday,2021-03-05,1219,1219,0.0,0.000000,324,324,0.0,...,2200.0,0.0,0.000000,-1,-1,-1,-1,0.0,0.0,0.0
9,316,Friday,2021-03-05,1219,1219,0.0,0.000000,324,324,0.0,...,2200.0,0.0,0.000000,-1,-1,-1,-1,35757.0,1615.0,37372.0
10,317,Saturday,2021-03-06,1219,1219,0.0,0.000000,324,324,0.0,...,2200.0,0.0,0.000000,-1,-1,-1,-1,0.0,0.0,0.0
11,318,Saturday,2021-03-06,1219,779,440.0,0.360952,324,274,50.0,...,2200.0,0.0,0.000000,-1,-1,-1,-1,19679.0,2129.0,21808.0
12,319,Sunday,2021-03-07,1219,1219,0.0,0.000000,324,324,0.0,...,2200.0,0.0,0.000000,-1,-1,-1,-1,0.0,0.0,0.0
13,320,Sunday,2021-03-07,1219,903,316.0,0.259229,324,281,43.0,...,2200.0,0.0,0.000000,-1,-1,-1,-1,40624.0,4334.0,44958.0
14,679,Tuesday,2022-03-01,1219,725,494.0,0.405250,324,164,160.0,...,1372.0,828.0,0.376364,-1,-1,-1,-1,0.0,0.0,0.0
15,680,Tuesday,2022-03-01,1219,1219,0.0,0.000000,324,324,0.0,...,2200.0,0.0,0.000000,-1,-1,-1,-1,0.0,0.0,0.0
16,681,Wednesday,2022-03-02,1219,1219,0.0,0.000000,324,324,0.0,...,2200.0,0.0,0.000000,-1,-1,-1,-1,0.0,0.0,0.0
17,682,Wednesday,2022-03-02,1219,723,496.0,0.406891,324,162,162.0,...,1360.0,840.0,0.381818,-1,-1,-1,-1,0.0,0.0,0.0
18,683,Thursday,2022-03-03,1219,1219,0.0,0.000000,324,324,0.0,...,2200.0,0.0,0.000000,-1,-1,-1,-1,0.0,0.0,0.0
19,684,Thursday,2022-03-03,1219,673,546.0,0.447908,324,152,172.0,...,1225.0,975.0,0.443182,-1,-1,-1,-1,0.0,0.0,0.0
20,685,Friday,2022-03-04,1219,630,589.0,0.483183,324,175,149.0,...,1114.0,1086.0,0.493636,-1,-1,-1,-1,0.0,0.0,0.0
21,686,Friday,2022-03-04,1219,1219,0.0,0.000000,324,324,0.0,...,2200.0,0.0,0.000000,-1,-1,-1,-1,0.0,0.0,0.0
22,687,Saturday,2022-03-05,1219,1219,0.0,0.000000,324,324,0.0,...,2200.0,0.0,0.000000,-1,-1,-1,-1,0.0,0.0,0.0
23,688,Saturday,2022-03-05,1219,654,565.0,0.463495,324,169,155.0,...,1122.0,1078.0,0.490000,-1,-1,-1,-1,0.0,0.0,0.0
24,689,Sunday,2022-03-06,1219,1219,0.0,0.000000,324,324,0.0,...,2200.0,0.0,0.000000,-1,-1,-1,-1,0.0,0.0,0.0
25,690,Sunday,2022-03-06,1219,647,572.0,0.469237,324,178,146.0,...,1159.0,1041.0,0.473182,-1,-1,-1,-1,0.0,0.0,0.0
26,691,Monday,2022-03-07,1219,1219,0.0,0.000000,324,324,0.0,...,2200.0,0.0,0.000000,-1,-1,-1,-1,0.0,0.0,0.0
27,692,Monday,2022-03-07,1219,737,482.0,0.395406,324,154,170.0,...,887.0,1313.0,0.596818,-1,-1,-1,-1,0.0,0.0,0.0
28,1051,Wednesday,2023-03-01,1219,491,728.0,0.597211,324,98,226.0,...,2200.0,0.0,0.000000,-1,-1,-1,-1,0.0,0.0,0.0
29,1052,Wednesday,2023-03-01,1219,1219,0.0,0.000000,324,324,0.0,...,2200.0,0.0,0.000000,-1,-1,-1,-1,0.0,0.0,0.0
30,1053,Thursday,2023-03-02,1219,466,753.0,0.617719,324,116,208.0,...,2200.0,0.0,0.000000,-1,-1,-1,-1,0.0,0.0,0.0
31,1054,Thursday,2023-03-02,1219,1219,0.0,0.000000,324,324,0.0,...,2200.0,0.0,0.000000,-1,-1,-1,-1,0.0,0.0,0.0
32,1055,Friday,2023-03-03,1219,1219,0.0,0.000000,324,324,0.0,...,2200.0,0.0,0.000000,-1,-1,-1,-1,0.0,0.0,0.0
33,1056,Friday,2023-03-03,1219,451,768.0,0.630025,324,165,159.0,...,2200.0,0.0,0.000000,-1,-1,-1,-1,0.0,0.0,0.0
34,1057,Saturday,2023-03-04,1219,1219,0.0,0.000000,324,324,0.0,...,2200.0,0.0,0.000000,-1,-1,-1,-1,0.0,0.0,0.0
35,1058,Saturday,2023-03-04,1219,406,813.0,0.666940,324,162,162.0,...,2200.0,0.0,0.000000,-1,-1,-1,-1,0.0,0.0,0.0
36,1059,Sunday,2023-03-05,1219,1219,0.0,0.000000,324,324,0.0,...,2200.0,0.0,0.000000,-1,-1,-1,-1,0.0,0.0,0.0
37,1060,Sunday,2023-03-05,1219,470,749.0,0.614438,324,174,150.0,...,2200.0,0.0,0.000000,-1,-1,-1,-1,0.0,0.0,0.0
38,1061,Monday,2023-03-06,1219,1219,0.0,0.000000,324,324,0.0,...,2200.0,0.0,0.000000,-1,-1,-1,-1,0.0,0.0,0.0
39,1062,Monday,2023-03-06,1219,511,708.0,0.580804,324,192,132.0,...,2200.0,0.0,0.000000,-1,-1,-1,-1,0.0,0.0,0.0
40,1063,Tuesday,2023-03-07,1219,463,756.0,0.620180,324,130,194.0,...,2200.0,0.0,0.000000,-1,-1,-1,-1,0.0,0.0,0.0
41,1064,Tuesday,2023-03-07,1219,1219,0.0,0.000000,324,324,0.0,...,2200.0,0.0,0.000000,-1,-1,-1,-1,0.0,0.0,0.0

In [450]:
#found out there are for 2021-2023, the first week of march has duplicates, and also there are 6 rows of 1970, and missing march 31, 2023
#but that last part is ok, take care of first two parts
#hard to remove, removing manually

# Suppose these are the row indices you want to remove
rows_to_remove = [308, 309, 311, 313, 315, 317, 319, 680, 681, 683, 686, 687, 689, 691, 1052, 1054, 1055, 1057, 1059, 1061, 1064]  # replace with your indices

# Drop them from the original DataFrame
combined_df = combined_df.drop(index=rows_to_remove)

# Optional: reset index if you want a clean 0…n-1 index
combined_df = combined_df.reset_index(drop=True)

rows_to_remove = combined_df[combined_df['Date'] == '1970-01-01'].index
combined_df = combined_df.drop(index=rows_to_remove).reset_index(drop=True)

combined_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1062 entries, 0 to 1061
Data columns (total 33 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Day                       1062 non-null   object
 1   Date                      1062 non-null   datetime64[ns]
 2   LOT 2 General Spaces      1062 non-null   int64
 3   LOT 2 General Vacancies   1062 non-null   int64
 4   LOT 2 General Occupied    1062 non-null   float64
 5   LOT 2 General % Capacity  1062 non-null   float64
 6   LOT 2 Premium Spaces      1062 non-null   int64
 7   LOT 2 Premium Vacancies   1062 non-null   int64
 8   LOT 2 Premium Occupied    1062 non-null   float64
 9   LOT 2 Premium % Capacity  1062 non-null   float64
 10  LOT 3 Spaces              1062 non-null   int64
 11  LOT 3 Vacancies           1062 non-null   int64
 12  LOT 3 Occupied            1062 non-null   float64
 13  LOT 3 % Capacity          1062 non-null   float64
 14  LOT 4 General Spaces      1062 non-null   int64
 15  LOT 4 General Vacancies   1062 non-null   int64
 16  LOT 4 General Occupied    1062 non-null   float64
 17  LOT 4 General % Capacity  1062 non-null   float64
 18  LOT 4 Premium Spaces      1062 non-null   int64
 19  LOT 4 Premium Vacancies   1062 non-null   int64
 20  LOT 4 Premium Occupied    1062 non-null   float64
 21  LOT 4 Premium % Capacity  1062 non-null   float64
 22  LOT 5 Spaces              1062 non-null   float64
 23  LOT 5 Vacancies           1062 non-null   float64
 24  LOT 5 Occupied            1062 non-null   float64
 25  LOT 5 % Capacity          1062 non-null   float64
 26  LOT 6 Spaces              1062 non-null   int64
 27  LOT 6 Vacancies           1062 non-null   int64
 28  LOT 6 Occupied            1062 non-null   int64
 29  LOT 6 % Capacity          1062 non-null   int64
 30  Total CC Revenue          1062 non-null   float64
 31  Total Cash Revenue        1062 non-null   float64
 32  Total Revenue             1062 non-null   float64
dtypes: datetime64[ns](1), float64(17), int64(14), object(1)
memory usage: 273.9+ KB

In [458]:
#missing may 29-31 2020, and march 31 2023
combined_df.to_csv("all_parking_data.csv", index=False)